<%= form_with model: @post do |form|%>
<div>
<%=form.label :title%><br>
<%=form.text_field :tilte%>
</div>

<div>
<%=form.label :body%><br>
<%=form.text_field :body%>
</div>


<div>
    <br>
    <%=form.submit%>
</div>

<%end%>